.movie-box {
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  padding: 10px;
  width: 500px;
  height: 100%;
  background-color: #e5bf84;
  list-style-type: circle;
  border-style: inset;
  border-color: red green blue yellow;
  border-width: 5px;
}
